body {
    background-color: grey;
    margin: 0;
    overflow: hidden;
}

text{
    font-family: Arial, sans-serif;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

canvas {
      display: block;
}
